.textnormal{font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-size: 14px;
font-weight: bold;
text-decoration: none;
color: rgba(51,51,51,1);
text-shadow: none;
letter-spacing: normal;}.textnormal-ddo{font-size: 14px !important;}.textheading1{font-family: "Montserrat","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-size: 36px;
font-weight: bold;
text-decoration: none;
color: rgba(115,115,115,1);
text-shadow: none;
letter-spacing: normal;}.textheading1-ddo{font-size: 20px !important;}.textheading2{font-family: "Montserrat","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-size: 24px;
font-weight: bold;
text-decoration: none;
color: rgba(51,51,51,1);
text-shadow: none;
letter-spacing: normal;}.textheading2-ddo{font-size: 20px !important;}.textheading3{font-family: "Montserrat","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
font-style: normal;
font-size: 14px;
font-weight: bold;
text-decoration: none;
color: rgba(51,51,51,1);
text-shadow: none;
letter-spacing: normal;}.textheading3-ddo{font-size: 14px !important;}.link1{color: rgba(51,51,51,1);
text-decoration: none;}.link1-hover{color: rgba(110,110,110,1);
text-decoration: none;}.link1:hover{color: rgba(110,110,110,1);
text-decoration: none;}ul.menu1, .menu1 ul{padding: 0px 0px 0px 0px;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;}ul.menu1 div.divider{padding: 0px 30px 0px 1px;
background-image: url(//adrianfranken.de/onewebstatic/89a9e17ac4.png);
background-repeat: no-repeat;
background-position: 100% 50%;
background-attachment: scroll;
border-color: rgba(183,183,183,1);
border-style: solid;
border-width: 0px 0px 0px 0px;}ul.menu1 > li > a{font-style: normal;
padding: 11px 10px 35px 40px;
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
border-color: rgba(0,0,0,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(51,51,51,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a:hover{font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
border-color: rgba(0,0,0,1);
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
font-style: normal;
border-style: solid;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.expandable{font-size: 14px;
padding: 11px 29px 35px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/497b98477c.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(51,51,51,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.expandable:hover{font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
border-color: rgba(0,0,0,1);
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
font-style: normal;
border-style: solid;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.expanded{font-size: 14px;
padding: 11px 29px 35px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/f85ef5204c.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.expanded:hover{font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
border-color: rgba(0,0,0,1);
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
font-style: normal;
border-style: solid;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.selected{font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
border-color: rgba(0,0,0,1);
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
font-style: normal;
border-style: solid;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.selected:hover{font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
border-color: rgba(0,0,0,1);
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
font-style: normal;
border-style: solid;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}.dropdown ul.menu1 > li > a.expanded{font-size: 14px;
padding: 11px 29px 35px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/f85ef5204c.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 > li > a.selected.expandable{background-image: none, url(//adrianfranken.de/onewebstatic/497b98477c.png);
background-repeat: repeat, no-repeat;
background-position: 0% 0%, 100% 50%;
background-size: auto, auto;
background-attachment: scroll, scroll;}ul.menu1 > li > a.selected.expanded{background-image: none, url(//adrianfranken.de/onewebstatic/f85ef5204c.png);
background-repeat: repeat, no-repeat;
background-position: 0% 0%, 100% 50%;
background-size: auto, auto;
background-attachment: scroll, scroll;}.menu1{padding: 0px 0px 0px 0px;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;}.menuhorizontal.horizontalalignfit ul.menu1 li:not(:last-child) a{width: -webkit-calc(100% - 31px);
width: -moz-calc(100% - 31px);
width: calc(100% - 31px);
margin-right: 31px;}.dropdown ul.menu1 > li ul{width: 200px;}.tree ul.menu1 .level-1 span{padding-left: 40px;}.tree ul.menu1 .level-2 span{padding-left: 80px;}.tree ul.menu1 .level-3 span{padding-left: 120px;}.tree ul.menu1 .level-4 span{padding-left: 160px;}.tree ul.menu1 .level-5 span{padding-left: 200px;}.tree ul.menu1 .level-6 span{padding-left: 240px;}.tree ul.menu1 .level-7 span{padding-left: 280px;}.tree ul.menu1 .level-8 span{padding-left: 320px;}.tree ul.menu1 .level-9 span{padding-left: 360px;}.tree ul.menu1 .level-10 span{padding-left: 400px;}.GlobalstylesDialog_hackAnchor__1iTBW ul.menu1 > li:last-child > a{font-style: normal;
padding: 11px 10px 35px 40px;
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
border-color: rgba(0,0,0,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}.GlobalstylesDialog_hackAnchor__1iTBW ul.menu1 > li:nth-last-child(2) > a{font-size: 14px;
padding: 11px 29px 35px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/f85ef5204c.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(110,110,110,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu1 li a{line-height: 17px;}ul.menu2, .menu2 ul{padding: 0px 0px 0px 0px;
background-image: none;
background-color: rgba(110,110,110,1);
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;}ul.menu2 div.divider{padding: 0px 0px 0px 0px;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;}ul.menu2 > li > a{font-style: normal;
padding: 10px 15px 10px 40px;
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
border-color: rgba(0,0,0,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a:hover{font-style: normal;
background-image: none;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
background-color: rgba(139,139,139,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.expandable{font-size: 14px;
padding: 10px 35px 10px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/8846049c61.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.expandable:hover{font-style: normal;
background-image: none;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
background-color: rgba(139,139,139,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.expanded{font-size: 14px;
padding: 10px 35px 10px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-color: rgba(139,139,139,1);
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/8846049c61.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.expanded:hover{font-style: normal;
background-image: none;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
background-color: rgba(139,139,139,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.selected{font-style: normal;
background-image: none;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
background-color: rgba(139,139,139,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.selected:hover{font-style: normal;
background-image: none;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
font-weight: bold;
background-color: rgba(139,139,139,1);
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}.dropdown ul.menu2 > li > a.expanded{font-size: 14px;
padding: 10px 35px 10px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-color: rgba(139,139,139,1);
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/8846049c61.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 > li > a.selected.expandable{background-image: none, url(//adrianfranken.de/onewebstatic/8846049c61.png);
background-repeat: repeat, no-repeat;
background-position: 0% 0%, 100% 50%;
background-size: auto, auto;
background-attachment: scroll, scroll;}ul.menu2 > li > a.selected.expanded{background-image: none, url(//adrianfranken.de/onewebstatic/8846049c61.png);
background-repeat: repeat, no-repeat;
background-position: 0% 0%, 100% 50%;
background-size: auto, auto;
background-attachment: scroll, scroll;}.menu2{padding: 0px 0px 0px 0px;
background-image: none;
background-color: rgba(110,110,110,1);
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;}.menuhorizontal.horizontalalignfit ul.menu2 li:not(:last-child) a{width: -webkit-calc(100% - 0px);
width: -moz-calc(100% - 0px);
width: calc(100% - 0px);
margin-right: 0px;}.dropdown ul.menu2 > li ul{width: 200px;}.tree ul.menu2 .level-1 span{padding-left: 40px;}.tree ul.menu2 .level-2 span{padding-left: 80px;}.tree ul.menu2 .level-3 span{padding-left: 120px;}.tree ul.menu2 .level-4 span{padding-left: 160px;}.tree ul.menu2 .level-5 span{padding-left: 200px;}.tree ul.menu2 .level-6 span{padding-left: 240px;}.tree ul.menu2 .level-7 span{padding-left: 280px;}.tree ul.menu2 .level-8 span{padding-left: 320px;}.tree ul.menu2 .level-9 span{padding-left: 360px;}.tree ul.menu2 .level-10 span{padding-left: 400px;}.GlobalstylesDialog_hackAnchor__1iTBW ul.menu2 > li:last-child > a{font-weight: bold;
padding: 10px 15px 10px 40px;
background-color: rgba(139,139,139,1);
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
font-size: 14px;
background-image: none;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}.GlobalstylesDialog_hackAnchor__1iTBW ul.menu2 > li:nth-last-child(2) > a{font-size: 14px;
padding: 10px 35px 10px 40px;
background-repeat: no-repeat;
background-position: 100% 50%;
background-color: rgba(139,139,139,1);
background-attachment: scroll;
border-color: rgba(0,0,0,1);
border-style: solid;
border-width: 0px 0px 0px 0px;
background-image: url(//adrianfranken.de/onewebstatic/8846049c61.png);
font-weight: bold;
font-style: normal;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-transform: uppercase;
text-align: left;
text-decoration: none;
text-shadow: none;}ul.menu2 li a{line-height: 17px;}.button1{padding: 0px 0px 0px 0px;
border-color: rgba(70,70,70,1);
border-style: solid;
border-width: 1px 1px 1px 1px;
font-size: 14px;
font-weight: bold;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(51,51,51,1);
text-align: left;}.button1:hover{border-color: rgba(70,70,70,0.6);
border-style: solid;
border-width: 1px 1px 1px 1px;
color: rgba(110,110,110,1);}.button1:active{}.button1.disabled{}.link2{color: rgba(255,255,255,1);
text-decoration: none;}.link2-hover{color: rgba(255,255,255,1);
text-decoration: underline;}.link2:hover{color: rgba(255,255,255,1);
text-decoration: underline;}.link3{color: rgba(51,51,51,1);
text-decoration: underline;}.link3-hover{color: rgba(110,110,110,1);
text-decoration: none;}.link3:hover{color: rgba(110,110,110,1);
text-decoration: none;}.button2{padding: 0px 0px 0px 0px;
border-color: rgba(255,255,255,1);
border-style: solid;
border-width: 1px 1px 1px 1px;
font-size: 14px;
font-weight: bold;
font-family: "Courier New","Open Sans", "Helvetica Neue", Helvetica, sans-serif;
color: rgba(255,255,255,1);
text-align: left;}.button2:hover{border-color: rgba(255,255,255,0.6);
border-style: solid;
border-width: 1px 1px 1px 1px;
color: rgba(255,255,255,1);}.button2:active{}.button2.disabled{}